*{
    margin: 0;
    padding: 0;

}

a{
    text-decoration: none;
}

body{
    overflow-x: hidden;
}


/*------MENU------*/
.menu{
    background-image: url(../img/AnyConv.com__faixa\ menu.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 50px;
    display: flex;
}

.menu img{
    margin: 5px 0 0 150px;
}
.links{
    margin: 15px 0 0 300px;
}

.links a{
    margin: 0 10px;
    color: white;
}

.btn_menu{
    margin: 10px 0 10px 20px;
    padding: 0px 25px 0px 25px;
    background-color: orange;
    color: white;
    border: 1px;
    border-radius: 4px;
}
/*------FIM MENU------*/

/*------HERO------*/
.hero{
    width: 100vw;
    height: 750px;
    background-image: url(../img/AnyConv.com__novo\ background.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.par_hero p{
    color: white;
    padding: 230px 0 0 230px;
    font-size: 32px;
}

.fo{
    color: orange;
}

.par_desc_hero p{
    color: white;
    margin: 10px 0;
    padding: 0 0 0 230px;
    font-size: 16px;
}

.btn_hero{
    margin: 10px 230px;
    padding: 20px 40px;
    border: 1px;
    border-radius: 4px;
    background-color: orange;
    color: white;
    font-size: 16px;
}
/*------FIM HERO------*/

/*------FAIXA------*/
.faixa_hero{
    background-color: #1d1d1d;
    width: 100vw;
    height: 100px;
}
/*------FIM FAIXA------*/

.mentor{
    background-image: url(../img/AnyConv.com__Landing\ page\ -Fluxo\ na\ Veia\ \(1\)\ -\ Cópia.webp);
    display: flex;
    height: 800px;
    background-position-y: -90px ;
    background-repeat: no-repeat;
}
.mentor img{
    width: 800px;
    height: 600px;
    margin: 100px 0 0 300px;
}

.mentor h2{
    color: orange;
    margin: 200px 0 50px 100px;
}

.mentor p{
    color: white;
    margin: 0  150px 0 100px;
}