*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html,body {
    height: 100%;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

/*HEADER*/

header {
    padding: 20px 2%;  
}

header .container{
    display: flex;
    justify-content: space-between;  
}

header .container .desktop-menu ul {
    padding: 8px 0;
    display: flex;
}

header .container .desktop-menu ul li {
    padding-left: 20px;
    list-style-type: none;
    text-transform: uppercase;
}

header .container .desktop-menu ul li a {
    color: #b4b4b4;
    text-decoration: none;
}

header .container nav.mobile-menu {
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-image: url(../img/menu.png);
    background-size: 100% 100%;
    display: none;
}

.container nav.mobile-menu:hover ul {
    opacity: 1;
}

.container nav.mobile-menu ul{
    opacity: 0;
    transition: 1s;
    background-color: white;
    position: absolute;
    left: 0;
    top: 81px;
    width: 100%;
    color: white;
    list-style-type: none;
    text-align: center;
}

.container nav.mobile-menu ul li {
    padding: 8px 0;
    transition: 0.4s;
    border-bottom: 1px solid black;
}

.container nav.mobile-menu ul li:hover {
    background-color: rgb(230,230,230);
}

.container nav.mobile-menu ul li a {
    text-decoration: none;
    color: black;
}

/*FIM HEADER*/

/*SESSÃO MOSAICO*/

.mosaico {
    padding: 0 2%;
}

.mosaico-wraper {
    display: flex;
}

.mosaico-single {
    width: calc(100% / 6);
}

.img-mosaico-single {
    width: 100%;
    padding-top: 100%;
    background-color: #ccc;
    border: 5px solid white;
}

/*FIM SESSÃO MOSAICO*/

/*SERVIÇOS*/

section.servicos .container{
    display: flex;
    max-width: 850px;
    align-items: center;
    position: relative;
    top: -40px;
}

.servicos .container .box-servico h2 {
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
}

.servicos .container .box-servico p {
    color: white;
    font-size: 13px;
    font-weight: 300;
    margin-top: 8px;
}

.servicos .container .box-servico:nth-of-type(1) {
    width: 40%;
    padding: 50px 10px;
    background-color: #576975;
    text-align: center;
    color: white;
    border-radius: 6px;
}

.servicos .container .box-servico:nth-of-type(2) {
    width: 50%;
    padding: 70px 10px;
    background-color: #688293;
    text-align: center;
    color: white;
    -webkit-box-shadow: 0px 0px 17px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 17px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 17px -1px rgba(0,0,0,0.75);
    border-radius: 6px;
}

.servicos .container .box-servico:nth-of-type(3) {
    width: 40%;
    padding: 50px 10px;
    background-color: #576975;
    text-align: center;
    color: white;
    border-radius: 6px;
}

/*FIM SERVIÇOS*/

/*PERFIL*/

section.perfil {
    padding: 40px 0;
}

.perfil .perfil-wraper {
    max-width: 100%;
    justify-content: center;
    display: flex;
}

.img-perfil-wraper {
    width: 100%;
    max-width: 500px;
    height: 450px;
    background-image: url(../img/avatar.png);
    background-position: center;
    background-repeat: no-repeat;
}

.desc-perfil-wraper {
    width: 100%;
    max-width: 500px;
}

.desc-perfil-wraper h2 {
    font-size: 40px;
}

.desc-perfil-wraper p{
    margin-top: 8px;
    font-size: 18px;
}

.desc-perfil-wraper ul li {
    list-style-type: none;
    margin-top: 8px;
}

/*FIM PERFIL*/

/*CLÍNICA*/

section.clinica .container {
    text-align: center;
    padding-top: 40px;
    width: 100%;
    max-width: 1024px;
}

.clinica .container h2 {
    font-size: 40px;
    font-weight: 400;
    padding-top: 10px;
}

.clinica .container .video {
    display: flex;
    width: 100%;
}

.clinica .container .video .video1 {
    width: 100%;
}

.clinica .container .video .video1 iframe {
    width: 90%;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 50px;
}

/*FIM CLÍNICA*/

/*TRATAMENTOS*/

section.tratamentos {
    background-color: #f2f2f2;;
}

.tratamentos .container {
    max-width: 1024px;
}

.tratamentos .container > h2 {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 50px;
}

.tratamentos .container .cards {
    position: relative;
    display: flex;
}


.tratamentos .container .cards .desc-cards {
    width: calc(100% / 3);
    height: 250px;
    margin: 30px 30px;
    background-color: white;
    padding-top: 60px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 20px;
    border-radius: 30px;
    text-align: center;
}

.tratamentos .container .cards .desc-cards p {
    margin-top: 20px;
}

.tratamentos .container .cards .desc-cards:hover {
    background-color: #26C3D6;
    color: white;
}


.tratamentos .container .cards .desc-cards img {
    position: absolute;
    top: -20px;
    margin: 0 -50px;
    background-color: white;
    border: 5px solid #f2f2f2;
    border-radius: 50%;
}

/*FIM TRATAMENTOS*/

/*DEPOIMENTOS*/








/*FIM DEPOIMENTOS*/









@media screen and (max-width: 768px) {
    .container nav.mobile-menu {
        display: block;
    }
    
    .container nav.desktop-menu{
        display: none;
    }

    section.servicos .container{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 950px;
        align-items: center;
        position: relative;
        top: -20px;
    }

    .perfil .perfil-wraper {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .perfil .img-perfil-wraper, .desc-perfil-wraper {
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .perfil .desc-perfil-wraper h2 {
        text-align: center;
    }

    .clinica .container > h2 {
        margin-bottom: 20px;
    }

    .clinica .container .video {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .clinica .container .video .video1 {
        width: 50%;
        margin: 0 auto;
    }
    
    .clinica .container .video .video1 iframe {
        width: 100%;
        height: 200px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .tratamentos .container {
        max-width: 1024px;
    }
    
    .tratamentos .container > h2 {
        padding-top: 100px;
    }
    
    .tratamentos .container .cards {
        display: flex;
        flex-direction: column;
    }

    .tratamentos .container .cards .desc-cards {
        width: 90%;
        margin: 50px auto;
        position: relative;
    }

    .tratamentos .container .cards .desc-cards img {
        position: absolute;
        top: -50px;
        margin: 0 -50px;
        background-color: white;
        border: 5px solid #f2f2f2;
        border-radius: 50%;
    }

    

    
}