*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

/* SESSÃO 1 */

.center {
    display: flex;
    max-width: 1100px;
    padding: 0 2%;
    margin: 0 auto;
    flex-wrap: wrap;
}

section.main {
    background-image: url(../img/bg.svg);
    background-position: center;
    background-size: cover;
    min-height: 700px;
    padding: 20px 0 80px 0;
}

.menu {
    width: 100%;
    display: flex;
}

.logo-menu {
    width: 50%;
}

.itens-menu {
    width: 50%;
}

.itens-menu a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
}

.itens-menu a:hover {
    border-bottom: 2px solid #FFDD33;
}

.itens-menu a.contact-btn {
    background-color: #0F3FD3;
    padding: 10px 10px;
    border-radius: 10px;
}

.itens-menu a.contact-btn:hover {
    border: 0;
}

.mockup {
    width: 100%;
    display: block;
    color: white;
    text-align: center;
    padding-top: 100px;
}

.mockup h1 {
    font-weight: 400;
    font-size: 50px;
}

.mockup p {
    margin-top: 30px;
    margin-bottom: 30px;
}

.mockup img {
    max-width: 100%;
}

section.marcas {
    padding: 100px 0;
}

section.marcas img {
    width: calc(100% / 5);
}

section.porque-nos {
    padding: 40px 0;
    background-color: #FBFBFE;
}

section.porque-nos > .center {
    max-width: 1200px;
}

section.porque-nos > .center > h2 {
    width: 100%;
    font-size: 64px;
    text-align: center;
}

section.porque-nos > .center > p {
    width: 100%;
    font-size: 14px;
    color: #ccc;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.diferenciais {
    display: flex;
    margin-top: 50px;
}

.box-diferenciais {
    width: 31%;
    margin-right: 2%;
    box-shadow: 0px 20px 40px #2426721C;
    padding: 10px 20px;
    border-radius: 10px;
}

.box-diferenciais h3 {
    font-size: 28px;
    margin: 20px 0;
    color: black;
}

.box-diferenciais p {
    font-size: 16px;
    color: #7e92ac;
    margin-bottom: 20px;
}

section.cta {
    background-image: url(../img/BANNER\ IMG.svg);
    background-size: cover;
    background-position: center;
    padding: 20px 10px;
    min-height: 200px;
    text-align: center;
    color: white;
    
}

section.cta h2,
section.cta h4 {
    font-weight: normal;
    margin-top: 30px;
}

section.cta h2 {
    font-size: 40px;
}

section.cta a {
    margin-top: 30px;
    display: inline-block;
    padding: 15px 15px;
    border-radius: 10px;
    color: #0F3FD3;
    background-color: #FFDD33;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.lista-beneficios {
    padding: 50px 0;
    width: 50%;
    margin-top: 30px;
}

.lista-beneficios h2 {
    color: #040404;
    font-size: 50px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.lista-beneficios p {
    font-size: 14px;
    counter-reset: #7E92AC;
}

.lista-beneficios img {
    display: inline-block;
    vertical-align: middle;
    width: 70px;
}

.lista-beneficios span {
    display: inline-block;
    width: calc(100% - 70px);
}

.lista-beneficios a {
    display: inline-block;
    margin-top: 20px;
    padding: 20px 20px;
    background-color: #255AFF;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 20px;
}

.img-beneficios {
    margin-top: 50px;
    width: 50%;
}

.img-beneficios img {
    max-width: 100%;
}

section.depoimentos {
    background-color: #FBFCFE;
    padding: 40px 0;
}

section.depoimentos > h2 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
}

section .center .container-slider {
    overflow: hidden;
    display: flex;
    margin-bottom: 50px;
}

.container-single {
    margin-bottom: 20px;
    box-shadow: 0px 5px 20px #70707016;
    border-radius: 20px;
    margin-right: 20px;
    background-color: white;
    padding: 10px 30px;
    text-align: center;
}

.container-single img {
    margin-bottom: 20px;
}

.container-single img.star {
    margin-top: 20px;
}

.container-single h2 {
    font-size: 30px;
    margin-bottom: 20px;
}


.container-single p {
    margin-bottom: 10px;
    font-size: 16px;
}

section.contato {
    text-align: center;
}

section.contato h2 {
    font-size: 50px;
    margin-top: 50px;
}

section.contato > .center {
    display: block;
    justify-items: center;
}

section.contato > .center > form {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 100%;
    margin: 0 auto;

}

section.contato > .center > form input {
    height: 40px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid;
    border-color: #C3CCE8;
    background-color: #FCFDFF;
    outline: none;
    padding-left: 10px;
    opacity: 1;
}

section.contato > .center > form input#msg{
    height: 200px;
    margin-bottom: 10px;
    
}

section.contato > .center > form input#msg::placeholder{
    position: absolute;
    top: 10px;
    left: 10px;
}

section.contato > .center > form .btn-form{
    width: 100%;
    padding: 15px 0;
    border-radius: 10px;
    background-color: #0F3FD3;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: 0;
    margin-bottom: 50px;
    cursor: pointer;
}

section.footer {
    background-color: #0F3FD3;
    text-align: center;
    height: 119px;
    
}

section.footer > .center {

}

section.footer > .center .itens-menu {
    background-color: red;


}






@media screen and (max-width: 768px){
    .diferenciais{
        flex-wrap: wrap;
    }
    
    .box-diferenciais{
        width: 100%;
        margin-right: 0;
    }

    section.marcas > .center{
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

    section.marcas img {
        max-width: 300px;
        width: 100%;
    }

    .lista-beneficios, .img-beneficios {
        width: 100%;
        margin-bottom: 30px;
    }

    section .center .container-slider {
        overflow: hidden;
        display: block;
    }
}