*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center {
    width: 100%;
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}

header {
    background-color: antiquewhite;
    height: 120px
}

header > .center {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
}

header > .center >  .logo1 {
    margin-top: 15px;
}

header > .center >  .logo1 img {
    width: 100%;
    max-width: 100%;
}

header > .center >  .logo2 {
    margin-top: 15px;
    text-align: right;
}

header > .center >  .logo2 img {
    width: 100%;
    max-width: 100%;
}

section.hero {
    width: 100%;
    max-width: 100%;
    padding: 0 2%;
}

.bg {
    height: 550px;
    background-image: url(../img/img-hero.webp);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: end;
}

.bg img {
    width: 100px;
}

.form-container {
    width: 400px;
    height: 96%;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.6);
}

.form-container h2 {
    font-size: 24px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: white;
}

.form-container form {
 text-align: center;
}

.form-container form input {
    width: 100%;
    max-width: 350px;
    height: 50px;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 10px;
    border: 0;
    outline: none;
    padding-left: 20px;
}

.form-container form .btn-form {
    margin-top: 30px;
    width: 350px;
    height: 50px;
    background-color: rgb(22, 22, 93);
    color: white;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.form-container p {
    font-size: 18px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

section.chamada {
    z-index: 1;
    text-align: center;
}

section.chamada .center {
    padding: 40px;
    background-color: gray;
    margin-bottom: 3px;
}

section.chamada h2 {
    width: 96%;
    max-width: 700px;
    display: inline-block;
    color: white;
    font-size: 26px;
    font-weight: normal;
}

/*IMAGEM 1*/

section.imagens .center {
    width: 96%;
    padding: 1px;
    background-color: rgb(185, 238, 240);
    margin-bottom: 3px;
}

section.imagens .center .imagem1 {
    width: 100%;
    display: flex;
}

section.imagens .center .imagem1 {
    align-items: center;
}

section.imagens .center .imagem1 p {
    width: 100%;
    max-width: 600px;
    margin-left: 15px;
    margin-right: 15px;
}

section.imagens .center .imagem1 img {
    width: 100%;
    max-width: 680px;
    height: 300px;
}

/*IMAGEM 2*/

section.imagens .center {
    background-color: rgb(185, 238, 240);
    margin-bottom: 3px;
}

.imagens .center .imagem2 {
    width: 100%;
    display: flex;
    flex-direction:row-reverse;
}

.imagens .center .imagem2 {
    align-items: center;
    
}

.imagens .center .imagem2 p {
    width: 100%;
    max-width: 600px;
    margin-left: 15px;
    margin-right: 15px;
}


.imagens .center .imagem2 img {
    width: 100%;
    max-width: 680px;
    height: 300px;
}

/*IMAGEM 3*/
.imagens .center {
    padding: 1px;
    background-color: rgb(185, 238, 240);
    margin-bottom: 3px;
}

.imagens .center .imagem3 {
    width: 100%;
    display: flex;
    
}

section.imagens .center .imagem3 {
    align-items: center;
    
}

.imagens .center .imagem3 p {
    width: 100%;
    max-width: 600px;
    margin-left: 15px;
    margin-right: 15px;
}


.imagens .center .imagem3 img {
    width: 100%;
    max-width: 680px;
    height: 300px;
}

section.final-page .center {
    width: 96%;
    background-color: rgb(219, 219, 219);
    padding: 40px 30px;
    text-align: center;
    margin-bottom: 3px;
}

.final-page .center h2 {
    font-size: 30px;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
}

.final-page .center p {
    font-size:20px;
    margin: 20px  0 0 auto;
    width: 100%;
    max-width: 1200px;
}


footer.rodape .center {
    text-align: center;
    
}

.rodape .center p {
    margin: 0 auto;
    font-size: 20px;
    width: 100%;
    max-width: 500px;
}

.rodape .center img {
    margin-top: 20px;
    margin-bottom: 20px;
}


@media screen and (max-width: 768px){

    header > .center {
        display: flex;
        justify-content: space-around;
    }

    header > .center >  .logo1 img {
        margin-top: 20px;
        width: 60%;
        max-width: 100%;
    }
    
    header > .center >  .logo2 {
        margin-top: 15px;
        text-align: right;
    }
    
    header > .center >  .logo2 img {
        margin-top: 20px;
        width: 60%;
        max-width: 100%;
    }
    


    section.hero {
        width: 100%;
        padding: 0 2%;
    }
    
    .bg {
        justify-content: center;    
    } 

    section.chamada .center {
        max-width: 96%;
        padding: 40px;
        background-color: gray;
        margin-bottom: 3px;
    }
    
    /*IMAGEM 1*/
    
    section.imagens .center {
        padding: 1px;
        background-color: rgb(185, 238, 240);
        margin-bottom: 3px;
        text-align: center;
        
    }
    
    section.imagens .center .imagem1 {
        width: 100%;
        display: block;
        
        
    }
    
    section.imagens .center .imagem1 {
        align-items: center;
    }
    
    section.imagens .center .imagem1 p {
        padding: 50px;
        max-width: 100%;
    }
    
    section.imagens .center .imagem1 img {
        width: 70%;
        height: 300px;
    }
    
    /*IMAGEM 2*/
    
    section.imagens .center {
        background-color: rgb(185, 238, 240);
        margin-bottom: 3px;
        text-align: center;
    }
    
    .imagens .center .imagem2 {
        width: 100%;
        display: block;
        
    }
    
    .imagens .center .imagem2 {
        align-items: center;
        
    }
    
    .imagens .center .imagem2 p {
        padding: 50px;
        max-width: 100%;
    }
    
    
    .imagens .center .imagem2 img {
        width: 70%;
        height: 300px;
    }
    
    /*IMAGEM 3*/
    .imagens .center {
        padding: 1px;
        background-color: rgb(185, 238, 240);
        margin-bottom: 3px;
    }
    
    .imagens .center .imagem3 {
        width: 100%;
        display: block;
        text-align: center;
        
    }
    
    section.imagens .center .imagem3 {
        align-items: center;
        
    }
    
    .imagens .center .imagem3 p {
        padding: 50px;
        max-width: 100%;
    }
    
    
    .imagens .center .imagem3 img {
        width: 70%;
        height: 300px;
    }
    
    section.final-page .center {
        background-color: rgb(219, 219, 219);
        padding: 40px 30px;
        text-align: center;
        margin-bottom: 3px;
    }
    
    .final-page .center h2 {
        font-size: 30px;
        margin: 0 auto;
        width: 100%;
    }
    
    .final-page .center p {
        font-size:20px;
        margin: 20px  0 0 auto;
        width: 100%;
    }
    
    
    footer.rodape .center {
        text-align: center;
        
    }
    
    .rodape .center p {
        margin: 0 auto;
        font-size: 20px;
        width: 100%;
    }
    
    .rodape .center img {
        margin-top: 20px;
        margin-bottom: 20px;
    }

}

