*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
}

.clear{
    clear: both;
}

.facebook{
    background-color: #f2f6f9;
    height: 100%;
    padding: 8px 0;
    position: relative;

}

.center{
    max-width: 100%;
    padding: 0 2%;
    margin: 0 auto;
    display: flex;

}

.logo{
    margin-top: 190px;
    margin-left: 158px;
}

.form-login{
    margin-top: 145px;
    margin-left: 110px;
}

.logo svg{
    width: 300px;
    margin-left: -30px;
    
}

.logo p{
    width: 470px;
    font-size: 28px;
}

.form-login{
    width: 31%;
    background-color: white;
    border: 0;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.20);
    
}

.form-login .form-element{
    flex-direction: column;
    /*display: inline-block;*/
    margin-right: 15px;
}

.form-element p{
    color: white;
    font-size: 14px
}

.form-element input[type=email],
.form-element input[type=password]{
    width: 95%;
    height: 50px;
    margin: 16px 0 0 17px ;
    margin-top: 16px;
    border-radius: 6px;
    border: 1px solid rgb(201, 201, 201);
    outline: 0;
    font-size: 16px;
    padding-left: 15px;
}

.form-element input[type=submit] {
    cursor: pointer;
    border: 2px solid #2359af;
    border-radius: 6px;
    background-color: #2978f0;
    color: white;
    padding: 7px 146px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 18px;
    font-size: 24px;
    font-weight: bold;
}

.form-element input[type=submit]:hover{
    background-color: #123d7f;
}

form, .form-login a{
    margin-left: 135px;
    font-size: 14px;
}


.linha{
    background-color: rgb(230, 230, 230);
    width: 90%;
    height: 1px;
    margin-top: 22px;
    margin-left: 17px;
}

.criar-conta{
    margin-left: 114px;
}

.criar-conta input{
    margin-top: 25px;
    margin-bottom: 28px;
    padding: 13px 25px;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgb(15, 200, 15);
    color: white;
}
